<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmguCV" version="3.1.0.1" targetFramework="net452" />
  <package id="Imgur.API" version="4.0.1" targetFramework="net452" />
  <package id="LineBotSDK" version="0.6.4-beta1" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net452" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net452" />
  <package id="ProcessMemoryReader" version="1.4.0" targetFramework="net452" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net452" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net452" />
</packages>